.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    background-color: lightgray;
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 20px;
    text-align: center;
  }
  .grid-item-success {
    background-color: rgba(40, 221, 70, 0.726);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 20px;
    text-align: center;
  }